* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "section"
        "encuentranos"
        "quienes"
        "footer";
    font-family: 'Raleway', sans-serif;

}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);

}


header {
    grid-area: header;
    display: flex;
    align-items: center;
}

main {
    grid-area: main;
    width: 100%;
    margin-top: 80px;

}

section .encuentranos {
    grid-area: section;

}
section .quienes {
    grid-area: quienes;

}




footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ul {
    list-style-type: none;

}

iframe {
    width: 100%;
}

h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.max-width-100 {
    max-width: 19%;
}

.small {
    font-size: map-get($formatos_textos, peque);
}

.medium {
    font-size: map-get($formatos_textos, mediano);
}

.white {
    color: map-get($formatos_textos, color_tex);
}

.bold {
    font-weight: map-get($formatos_textos, grosor);
}

.interline {
    letter-spacing: 5px;
}


.pic1 {
    height: 95%;
}

.col ul {
    list-style-type:circle;

}

#mensaje {
    padding: 10px;
}

#telefono {
    padding: 10px;
}

#nombre {
    padding: 10px;
}

#email{
    padding: 10px;
}